<configuration>
    <system.diagnostics>
        <!--<trace autoflush="true" indentsize="4">
            <listeners>
                <add name="FileLogListener" type="System.Diagnostics.TextWriterTraceListener"
                        initializeData="ChessPlatform.UI.Desktop.LOG" />
            </listeners>
        </trace>-->
    </system.diagnostics>
</configuration>